/* write your override styles here */
#wall .tag-1 {
  display: none;
}

#wall #tag-2 {
  display: none;
}

#wall #tag-3.slick.wicked {
  display: none;
}

#wall .parent #tag-4 {
  display: none;
}

#wall .parent {
  display: none;
}

#wall .parent #tag-4 {
  display: none;
}
/* child combiner */
/* selects the child div of .parent */
#wall .parent > div {
  display: none;
} 


/* I needed to move around the links to the style sheet */
#wall .parent > div #tag-6 {
  display: none; 
}

#wall * { 
  display: none;
}
